---
import Order from './Order.tsx'
---

<div class="px-4">
  <h2 class="text-4xl md:text-6xl font-extrabold tracking-tight text-balance">
    Ordena tu Chicharron favorito
  </h2>

  <Order client:load />
</div>
