---
import Layout from '@/layouts/Layout.astro'
import SummaryOrder from '@/components/SummaryOrder.astro'
---

<Layout>
  <main class="container mx-auto px-4 py-8">
    <div>
      <SummaryOrder />
    </div>
  </main>
</Layout>
