---
import Layout from '@/layouts/Layout.astro'
import OrderComplete from '@/components/SummaryOrder.astro'
---

<Layout>
  <main class="container mx-auto px-4 py-8">
    <div>
      <OrderComplete />
    </div>
  </main>
</Layout>
