---
import Layout from '@/layouts/Layout.astro'
import Menu from '@/components/Menu.astro'
import HeroMenu from '@/components/HeroMenu.astro'
import CategoryFilters from '@/components/order/CategoryFilters.tsx'
---

<Layout>
  <main class="container mx-auto px-4 py-8">
    <HeroMenu />
    <CategoryFilters client:load />
    <Menu />
  </main>
</Layout>
