---
import Layout from '@/layouts/Layout.astro'
import Menu from '@/components/Menu.astro'
import HeroMenu from '@/components/HeroMenu.astro'
import CategoryFilters from '@/components/order/CategoryFilters.tsx'
---

<Layout title="Menu - Don Emiliano">
  <div class="container mx-auto px-4 py-4">
    <HeroMenu />
    <CategoryFilters client:load />
    <Menu />
  </div>
</Layout>
