USE [DonEmilianoFE]
GO
/****** Object:  Table [dbo].[TBL_COTIZACION]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_COTIZACION](
	[ID_COT] [int] NULL,
	[FECHA] [datetime] NULL,
	[CLIENTE] [varchar](150) NULL,
	[TOTAL] [float] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_control_ingreso]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_control_ingreso](
	[id_ingreso] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NULL,
	[id_personal] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_CONTROL_DOCUMENTO]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_CONTROL_DOCUMENTO](
	[ID_CONTROL] [int] NOT NULL,
	[ID_TDOCUMENT] [int] NULL,
	[SERIE] [varchar](4) NULL,
	[NUMERO] [varchar](9) NULL,
	[LINEAS] [int] NULL,
	[ESTADO] [int] NULL,
	[IMPRESORA] [varchar](100) NULL,
	[SerieImpresora] [nvarchar](255) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_CONFIGURACION_ZONA]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CONFIGURACION_ZONA](
	[ID_CONFIGURACION] [int] IDENTITY(1,1) NOT NULL,
	[ID_PC] [int] NULL,
	[NRUTA] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_CONFIGURACION]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_CONFIGURACION](
	[ID_CONFIG] [int] NULL,
	[DOCUMENT] [varchar](50) NULL,
	[DIRECTO] [int] NULL,
	[PANTALLA] [int] NULL,
	[NOIMP] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_CONCEPTOV]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_CONCEPTOV](
	[ID_CONCEPTOV] [int] IDENTITY(1,1) NOT NULL,
	[CONCEPTOV] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_CONCEPTOV] PRIMARY KEY CLUSTERED 
(
	[ID_CONCEPTOV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_CONCEPTO]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_CONCEPTO](
	[ID_CONCEPTO] [int] NULL,
	[TIPO] [int] NULL,
	[DESCRIPCION] [varchar](200) NULL,
	[FECHAPRO] [datetime] NULL,
	[HORAPRO] [datetime] NULL,
	[ID_USUARIO] [int] NULL,
	[Fijo] [int] NULL,
	[Porcentaje] [numeric](10, 2) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_COMPRA]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_COMPRA](
	[ID_COMPRA] [int] IDENTITY(1,1) NOT NULL,
	[ID_TDOCUMENT] [int] NULL,
	[NUM_DOC] [varchar](50) NULL,
	[ID_PROVEEDOR] [int] NULL,
	[FECHA_ENTREGA] [datetime] NULL,
	[ID_MONEDA] [int] NULL,
	[MONTOC] [float] NULL,
	[IGVC] [float] NULL,
	[NETOC] [float] NULL,
	[OBSERVACION] [varchar](200) NULL,
	[ESTADO] [int] NULL,
	[SERIE] [varchar](10) NULL,
	[IDOC_SERIE] [varchar](20) NULL,
	[FECHA_VENCI] [datetime] NULL,
	[NETO_LETRAS] [varchar](100) NULL,
	[IGV] [int] NULL,
	[ID_PAGO] [int] NULL,
	[ID_TARJETA] [int] NULL,
	[ID_USUARIO] [int] NULL,
	[TIPO_CAMBIO] [float] NULL,
	[FLAG_IGV] [tinyint] NULL,
	[MONTO_PENDIENTE] [float] NULL,
	[FECHA_REG] [datetime] NULL,
	[nroctacte] [varchar](20) NULL,
	[id_moneda_ctacte] [int] NULL,
	[DocIgv] [tinyint] NULL,
	[ID_ALMACEN] [int] NULL,
	[estadomanual] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_COMBO_TIPO]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_COMBO_TIPO](
	[ID_COMBO] [int] NULL,
	[ID_TIPO] [int] NULL,
	[CANTIDAD] [int] NULL,
	[CONTADOR] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_COMBO_DETALLE]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_COMBO_DETALLE](
	[ID_COMBOD] [int] NULL,
	[ID_COMBO] [int] NULL,
	[ID_PRODUCTO] [int] NULL,
	[ID_TIPO] [int] NULL,
	[ESTADO] [int] NULL,
	[Cantidad] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_COMBO]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_COMBO](
	[ID_COMBO] [int] NULL,
	[ID_PRODUCTO] [int] NULL,
	[CANTIDAD] [int] NULL,
	[MOSTRAR] [int] NULL,
	[usarcantidad] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_COMANDA]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_COMANDA](
	[ID_COMANDA] [int] IDENTITY(1,1) NOT NULL,
	[ID_MOZO] [int] NOT NULL,
	[ID_MESA] [int] NOT NULL,
	[MESA] [int] NULL,
	[FECHA] [datetime] NULL,
	[HORA] [datetime] NULL,
	[ID_OPERACION] [int] NULL,
	[ID_USUARIO] [int] NULL,
	[TOTAL] [float] NULL,
	[OBSERVACION] [varchar](500) NULL,
	[ESTADO] [char](1) NULL,
	[NCOMANDA] [int] NULL,
	[ID_O_PAS] [int] NULL,
	[FORMAVENTA] [int] NULL,
	[impresiontablet] [int] NULL,
 CONSTRAINT [PK_TBL_COMANDA] PRIMARY KEY CLUSTERED 
(
	[ID_COMANDA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_CLIENTE]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_CLIENTE](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](400) NULL,
	[DIRECCION] [varchar](200) NULL,
	[ID_DISTRITO] [int] NULL,
	[ID_DOCUMENT] [int] NULL,
	[TELEFONO1] [varchar](50) NULL,
	[TELEFONO2] [varchar](50) NULL,
	[TELEFAX] [varchar](50) NULL,
	[EMAIL] [varchar](150) NULL,
	[CONTACTO] [varchar](100) NULL,
	[RUC] [varchar](11) NULL,
	[FECHAPRO] [datetime] NULL,
	[HORAPRO] [datetime] NULL,
	[ID_USUARIO] [int] NULL,
	[ESTADO] [int] NULL,
	[Ubigeo] [varchar](50) NULL,
	[Pais] [varchar](50) NULL,
	[Ciudad] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_AREA]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_AREA](
	[ID_AREA] [int] IDENTITY(1,1) NOT NULL,
	[AREA] [varchar](50) NULL,
	[ESTADO] [int] NULL,
	[ID_NIVEL] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_ALMACEN]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_ALMACEN](
	[ID_ALMACEN] [int] NOT NULL,
	[ALMACEN] [varchar](150) NULL,
	[ABREV] [varchar](50) NULL,
	[Estado] [int] NULL,
	[FIJO] [int] NULL,
	[TIPO] [int] NULL,
 CONSTRAINT [PK_TBL_ALMACEN] PRIMARY KEY CLUSTERED 
(
	[ID_ALMACEN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[s]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[s](
	[ID_COMBO] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReporteStockProductos]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReporteStockProductos](
	[IdReporte] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NULL,
	[IdOperacion] [int] NULL,
	[StockInicial] [float] NULL,
	[StockFinal] [float] NULL,
	[Saldo] [float] NULL,
	[Ventas] [float] NULL,
	[Dif] [float] NULL,
	[Precio] [float] NULL,
	[Costo] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRUEBA]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRUEBA](
	[PRUEBA] [char](10) NULL,
	[PRUEBA2] [char](10) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PrevioImpresion]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PrevioImpresion](
	[IdPrevioImpresion] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](150) NULL,
	[Ruta] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPrevioImpresion] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Mesas]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mesas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MESA] [varchar](50) NULL,
	[ID_NIVEL] [int] NULL,
	[ID_AREA] [nchar](10) NULL,
	[ESTADO] [int] NULL,
	[OCUPADO] [int] NULL,
	[X] [int] NULL,
	[Y] [int] NULL,
	[IMAGEN] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ConceptoSunat]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConceptoSunat](
	[IdConcepto] [int] IDENTITY(1,1) NOT NULL,
	[Concepto] [nvarchar](max) NULL,
	[CodigoSunat] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ConceptoSunats] PRIMARY KEY CLUSTERED 
(
	[IdConcepto] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ZONA]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_ZONA](
	[ID_ZONA] [int] NULL,
	[ZONA] [varchar](150) NULL,
	[IMPRIME] [int] NULL,
	[COPIAS] [int] NULL,
	[IMPRESORA] [varchar](500) NULL,
	[CODIGO] [int] NULL,
	[ID_ALMACEN] [int] NULL,
	[CODIGO2] [int] NULL,
	[IMPRESORA2] [varchar](500) NULL,
	[NOMBRE1] [varchar](150) NULL,
	[NOMBRE2] [varchar](150) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_VALIDACION]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_VALIDACION](
	[id_validacion] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [datetime] NULL,
	[HORA] [datetime] NULL,
	[estado] [int] NULL,
	[FECHABLOQUEO] [datetime] NULL,
	[DIAS] [int] NULL,
	[HORABLOQUEO] [datetime] NULL,
	[FECHAVALIDAR] [datetime] NULL,
	[concepto] [varchar](50) NULL,
	[pago] [int] NULL,
	[cuotas] [int] NULL,
	[ncuota] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_UNIDAD_VENTA]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_UNIDAD_VENTA](
	[ID_PRESENTACION] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](250) NULL,
	[ID_UNIDAD] [int] NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[FACTOR] [float] NULL,
	[COSTO] [float] NULL,
 CONSTRAINT [PK_TBL_UNIDAD_VENTA] PRIMARY KEY CLUSTERED 
(
	[ID_PRESENTACION] ASC,
	[ID_UNIDAD] ASC,
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_UNIDAD_EQUIVALENCIA]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_UNIDAD_EQUIVALENCIA](
	[ID_EQUIVALENCIA] [int] IDENTITY(1,1) NOT NULL,
	[ID_UNIDAD] [int] NULL,
	[EQUIVALENCIA2] [float] NULL,
	[ID_UNIDADEQ] [int] NULL,
	[EQUIVALENCIA] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_UNIDAD]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_UNIDAD](
	[ID_UNIDAD] [int] NULL,
	[UNIDAD] [varchar](150) NULL,
	[ABREV] [varchar](50) NULL,
	[ESTADO] [int] NULL,
	[FIJO] [int] NULL,
	[TIPO] [char](1) NULL,
	[CodigoSunat] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_TURNO]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_TURNO](
	[ID_TURNO] [int] IDENTITY(1,1) NOT NULL,
	[TURNO] [varchar](50) NULL,
	[ESTADO] [int] NULL,
	[final] [int] NULL,
 CONSTRAINT [PK_TBL_TURNO] PRIMARY KEY CLUSTERED 
(
	[ID_TURNO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_TRANSFORMACION]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_TRANSFORMACION](
	[ID_TRANSFORMACION] [int] NULL,
	[ID_INSUMO] [int] NULL,
	[CANTIDAD] [float] NULL,
	[FECHA] [datetime] NULL,
	[MERMA] [float] NULL,
	[ESTADO] [char](1) NULL,
	[COSTO] [float] NULL,
	[TOTAL] [float] NULL,
	[ID_ALMACEN] [int] NULL,
	[CANTIDADMERMA] [float] NULL,
	[RESULTADO] [float] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_TOTAL_MESAS]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TOTAL_MESAS](
	[TOTAL] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TOTAL_DELIVERY]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TOTAL_DELIVERY](
	[TOTAL] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TIPO_PERSONAL]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_TIPO_PERSONAL](
	[ID_TIPOPER] [int] NULL,
	[TIPOPER] [varchar](150) NULL,
	[FECHAPRO] [datetime] NULL,
	[HORAPRO] [datetime] NULL,
	[ID_USUARIO] [int] NULL,
	[fijo] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_TIPO_MOVIMIENTO]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_TIPO_MOVIMIENTO](
	[ID_MOVIMIENTO] [int] NOT NULL,
	[DES_MOVIMIENTO] [varchar](250) NULL,
	[TIPO_MOV] [tinyint] NULL,
	[ESTADO] [int] NULL,
	[FIJO] [tinyint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_TIPO_DOCUMENTO]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_TIPO_DOCUMENTO](
	[ID_TDOCUMENT] [int] NOT NULL,
	[DES_TIPO] [varchar](250) NULL,
	[ABREV] [varchar](50) NULL,
	[ESTADO] [char](1) NULL,
	[CODSUNAT] [char](10) NULL,
	[INGRESO] [int] NULL,
	[SALIDA] [int] NULL,
	[AFECIGV] [int] NULL,
	[fijo] [int] NULL,
	[RegComp] [int] NULL,
	[RegVta] [int] NULL,
	[predeterminado] [int] NULL,
	[ruta] [varchar](450) NULL,
	[codigo] [int] NULL,
	[CodigoSunat] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_TIPO_CAMBIO]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TIPO_CAMBIO](
	[ID_TIPO] [int] NULL,
	[FECHA] [datetime] NULL,
	[TCC] [float] NULL,
	[TCV] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TIPO]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_TIPO](
	[id] [int] NULL,
	[Tipo] [varchar](50) NULL,
	[abrev] [varchar](10) NULL,
	[orden] [int] NULL,
	[color] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_TEMP_COMBO]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TEMP_COMBO](
	[ID_PRODUCTO] [int] NULL,
	[ID_COMBO] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_SUBGRUPO]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_SUBGRUPO](
	[ID_SUBGRUPO] [int] NOT NULL,
	[ID_GRUPO] [int] NULL,
	[SUBGRUPO] [varchar](50) NULL,
	[ESTADO] [int] NULL,
	[FIJO] [int] NULL,
 CONSTRAINT [PK_TBL_GRUPO_INSUMO] PRIMARY KEY CLUSTERED 
(
	[ID_SUBGRUPO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_STOCK_OPERACION]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_STOCK_OPERACION](
	[idOperacion] [int] NULL,
	[idProducto] [int] NULL,
	[stock] [float] NULL,
	[idAlmacen] [int] NULL,
	[fechaRegistro] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_RUTA]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_RUTA](
	[ruta] [varchar](200) NULL,
	[id] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_REQUERIMIENTO_DETALLE]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_REQUERIMIENTO_DETALLE](
	[ID_REQUERIMIENTO] [int] NULL,
	[ID_REQUERMIENTO_DETALLE] [int] NULL,
	[ID_PRODUCTO] [int] NULL,
	[CANTIDAD] [float] NULL,
	[CANTIDAD_AT] [float] NULL,
	[ESTADO] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_REQUERIMIENTO]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_REQUERIMIENTO](
	[ID_REQUERIMIENTO] [int] IDENTITY(1,1) NOT NULL,
	[NUM] [varchar](50) NULL,
	[FECHAREG] [datetime] NULL,
	[HORA] [datetime] NULL,
	[ID_RESPONSABLE] [int] NULL,
	[FECHAATENDIDO] [datetime] NULL,
	[ID_ALMACEN] [int] NULL,
	[ID_ALMACEN2] [int] NULL,
	[FECHAENTREGA] [datetime] NULL,
	[ESTADO] [int] NULL,
	[OBSERVACION] [varchar](450) NULL,
	[ID_USUARIO_ENTREGA] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_REG_MESA]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_REG_MESA](
	[ID_MESA] [int] NULL,
	[MESA] [varchar](50) NULL,
	[NIVEL] [varchar](50) NULL,
	[ESTADO] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_RECETA]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_RECETA](
	[ID_RECETA] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](250) NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[TIPO] [int] NULL,
	[GASTOS] [int] NULL,
	[MANO_OBRA] [int] NULL,
	[COSTO_INSUMOS] [float] NULL,
	[COSTO_FINTAL] [float] NULL,
	[COSTO_INSUMOSP] [float] NULL,
 CONSTRAINT [PK_TBL_RECETA] PRIMARY KEY CLUSTERED 
(
	[ID_RECETA] ASC,
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_PROVEEDOR]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_PROVEEDOR](
	[ID_PROVEEDOR] [int] NULL,
	[RAZON_SOCIAL] [varchar](150) NULL,
	[DIRECCION] [varchar](300) NULL,
	[TELEFONO] [varchar](15) NULL,
	[MOVIL] [varchar](15) NULL,
	[FAX] [varchar](15) NULL,
	[CONTACTO] [varchar](15) NULL,
	[EMAIL] [varchar](100) NULL,
	[EMAIL2] [varchar](100) NULL,
	[PAGWEB] [varchar](100) NULL,
	[ID_PAGO] [int] NULL,
	[ID_TIPODOCT] [int] NULL,
	[RUC] [varchar](15) NULL,
	[DIAS] [int] NULL,
	[ESTADO] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_PRODUCTO_ALMACEN]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PRODUCTO_ALMACEN](
	[ID_ALMACEN] [int] NULL,
	[ID_PRODUCTO] [int] NULL,
	[STOCK_ACTUAL] [float] NULL,
	[STOCK_MIN] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PRODUCTO]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_PRODUCTO](
	[ID_PRODUCTO] [int] NOT NULL,
	[PRODUCTO] [varchar](250) NULL,
	[ID_GRUPO] [int] NULL,
	[ID_ZONA] [int] NULL,
	[PRECIO_NORMAl] [float] NULL,
	[ACTIVO_NORMAL] [int] NULL,
	[PRECIO_ESPE] [float] NULL,
	[ACTIVO_ESPE] [int] NULL,
	[ESTADO] [int] NULL,
	[ID_UNIDAD_KARDEX] [int] NULL,
	[PRECIOSUGERIDO] [float] NULL,
	[PORCENTAJE] [float] NULL,
	[COMBO] [int] NULL,
	[PRECIOCOSTO] [float] NULL,
	[ACTIVO_COMBO] [int] NULL,
	[ACTIVO_PRECIOD] [int] NULL,
	[PRECIO_DELIVERY] [float] NULL,
	[C_STOCK] [int] NULL,
	[COSTO] [float] NULL,
	[ACTIVO_RECETA] [int] NULL,
	[FACTOR] [float] NULL,
	[ACTIVO_PRODUCTO] [int] NULL,
	[ACTIVO_INSUMO] [int] NULL,
	[STOCK_MIN] [float] NULL,
	[TIEMPO] [float] NULL,
	[C_VENTAS] [int] NULL,
	[ID_UNIDAD_VENTA] [int] NULL,
	[CORTE] [int] NULL,
	[MERMA] [numeric](18, 0) NULL,
	[ID_UNIDAD_COSTO] [int] NULL,
	[PORCIONABLE] [int] NULL,
	[ACTIVO_IGV] [int] NULL,
	[ACTIVO_SERVICIO] [int] NULL,
	[COSTO_ANTERIOR] [float] NULL,
	[NOMOSTRAR] [int] NULL,
	[TIPO_INSUMO] [int] NULL,
	[CARTA] [int] NULL,
	[CodigoIGVSunat] [varchar](50) NULL,
	[FechaRecojo] [int] NULL,
	[inafecto] [int] NULL,
 CONSTRAINT [PK_TBL_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_PIE_REPORTE]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_PIE_REPORTE](
	[ID_PIE] [int] IDENTITY(1,1) NOT NULL,
	[PIE_PAGINA] [varchar](2000) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_PIE_PAGINA]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_PIE_PAGINA](
	[ID_PIE_PAGINA] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [datetime] NULL,
	[PIE_PAGINA] [varchar](2000) NULL,
	[NOMBRE_EVENTO] [varchar](150) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_PERSONAL]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_PERSONAL](
	[ID_PERSONAL] [int] NOT NULL,
	[CODIGOP] [varchar](20) NULL,
	[NOMBRE] [varchar](150) NULL,
	[ALIAS] [varchar](50) NULL,
	[CLAVE] [varchar](50) NULL,
	[APERTURA] [int] NULL,
	[ACESOVENTA] [int] NULL,
	[ACTIVO] [int] NULL,
	[FECHAPRO] [datetime] NULL,
	[HORAPRO] [datetime] NULL,
	[ID_USUARIO] [int] NULL,
	[ACESOCAJA] [int] NULL,
	[ACESOADMIN] [int] NULL,
	[ID_TIPOPER] [int] NULL,
	[SUELDO] [float] NULL,
	[ACESOALMACEN] [int] NULL,
	[ACESORECETA] [int] NULL,
	[codigoreloj] [int] NULL,
	[horaingreso] [datetime] NULL,
	[MostrarTotalesCaja] [int] NULL,
	[VerResumen] [int] NULL,
 CONSTRAINT [PK_TBL_PERSONAL] PRIMARY KEY CLUSTERED 
(
	[ID_PERSONAL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_PERMISOS_USUARIOS]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PERMISOS_USUARIOS](
	[ID_PERMISO] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NULL,
	[ID_OPCION] [int] NULL,
	[ID_OPCION_DETALLE] [int] NULL,
	[ESTADO] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_OPERACION_DETALLE]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_OPERACION_DETALLE](
	[ID_OPERACIOND] [int] NULL,
	[ID_OPERACION] [int] NULL,
	[ID_CONCEPTO] [int] NULL,
	[FECHA] [datetime] NULL,
	[TIPO] [char](1) NULL,
	[ID_PERSONAL] [int] NULL,
	[OBSERVACION] [varchar](100) NULL,
	[ANULADO] [int] NULL,
	[DETALLE] [varchar](200) NULL,
	[TOTAL] [float] NULL,
	[FECHAPRO] [datetime] NULL,
	[HORAPRO] [datetime] NULL,
	[ID_USUARIO] [int] NULL,
	[PROPINA] [float] NULL,
	[ID_MONEDA] [int] NULL,
	[ID_PAGO] [int] NULL,
	[ID_MESA] [int] NULL,
	[ID_CLIENTE] [char](10) NULL,
	[RECIBO] [varchar](30) NULL,
	[CODOT] [char](16) NULL,
	[TOTALD] [float] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_OPERACION]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_OPERACION](
	[ID_OPERACION] [int] NOT NULL,
	[FECHA_APERTURA] [datetime] NULL,
	[FECHA_CIERRRE] [datetime] NULL,
	[SALDO_INICIAL] [float] NULL,
	[SALDO_CIERRE] [float] NULL,
	[CIERRE] [int] NULL,
	[NUM_CUENTA] [int] NULL,
	[NUM_COMANDA] [int] NULL,
	[FECHAPRO] [datetime] NULL,
	[HORAPRO] [datetime] NULL,
	[ID_USUARIO] [int] NULL,
	[SALDO_INICIALD] [float] NULL,
	[SALDO_CIERRED] [float] NULL,
	[ID_TURNO] [int] NULL,
 CONSTRAINT [PK_TBL_OPERACION] PRIMARY KEY CLUSTERED 
(
	[ID_OPERACION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_OPCION_DETALLE]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_OPCION_DETALLE](
	[ID_DETALLE] [int] NULL,
	[ID_OPCION] [int] NULL,
	[OPCION_DETALLE] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_OPCION]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_OPCION](
	[ID_OPCION] [int] NOT NULL,
	[OPCION] [varchar](50) NULL,
	[MODULO] [char](1) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_OBSERVACION]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_OBSERVACION](
	[ID_OBSERVACION] [int] IDENTITY(1,1) NOT NULL,
	[OBSERVACION] [varchar](150) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_NIVEL]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_NIVEL](
	[ID_NIVEL] [int] NOT NULL,
	[NIVEL] [varchar](50) NULL,
	[ESTADO] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_MOVIMIENTO]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_MOVIMIENTO](
	[ID_MOV] [int] IDENTITY(1,1) NOT NULL,
	[ID_SUCURSAL] [int] NULL,
	[ID_MOVIMIENTO] [int] NULL,
	[NUM_DOC] [varchar](50) NULL,
	[FECHAMOV] [datetime] NULL,
	[FECHADOC] [datetime] NULL,
	[TOTALMOV] [float] NULL,
	[IGVMOV] [float] NULL,
	[VVFMOV] [numeric](9, 0) NULL,
	[OBSERVACION] [varchar](200) NULL,
	[ID_USUPVENTA] [int] NULL,
	[ID_PROVEEDOR] [int] NULL,
	[ID_MONEDA] [int] NULL,
	[ID_TDOCUMENT] [int] NULL,
	[ID_COMPRA] [int] NULL,
	[TIPO_CAMBIO] [float] NULL,
	[ID_EMPRESA] [int] NULL,
	[ID_SUCURSAL2] [int] NULL,
	[ID_MOV2] [int] NULL,
	[ID_COMANDA] [int] NULL,
	[DETALLE] [int] NULL,
	[ID_PRODUCTO] [char](10) NULL,
	[ID_USU_EMITIR] [int] NULL,
	[ID_USU_RECIBIR] [int] NULL,
	[HORA] [datetime] NULL,
	[SERIE] [varchar](50) NULL,
	[NUM_DOC2] [varchar](50) NULL,
	[TIPO] [char](2) NULL,
	[ESTADO] [int] NULL,
	[ID_ELABORACION] [int] NULL,
	[ID_PORCIONAMIENTO] [int] NULL,
	[ID_REQUERIMIENTO] [int] NULL,
 CONSTRAINT [PK_TBL_MOVIMIENTO] PRIMARY KEY CLUSTERED 
(
	[ID_MOV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_MOTIVO_ANULACION]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_MOTIVO_ANULACION](
	[ID_ANULACION] [int] NULL,
	[ANULACION] [varchar](250) NULL,
	[TIPO] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_MONEDA]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_MONEDA](
	[ID_MONEDA] [int] NOT NULL,
	[MONEDA] [varchar](50) NULL,
	[SIMBOLO] [varchar](10) NULL,
 CONSTRAINT [PK_TBL_MONEDA] PRIMARY KEY CLUSTERED 
(
	[ID_MONEDA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_MESA_DESC]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MESA_DESC](
	[Id_mesa] [int] IDENTITY(1,1) NOT NULL,
	[Mesa] [int] NULL,
	[Estado] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MESA]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_MESA](
	[ID_MESA] [int] IDENTITY(1,1) NOT NULL,
	[MESA] [varchar](50) NULL,
	[LIBRE] [int] NULL,
	[DESCUENTO] [float] NULL,
	[PDESCUENTO] [float] NULL,
	[TOTAL] [float] NULL,
	[ID_PERSONAL] [int] NULL,
	[Estado] [int] NULL,
	[FECHAPRO] [datetime] NULL,
	[HORAPRO] [datetime] NULL,
	[ID_USUARIO] [int] NULL,
	[PREVIO] [char](1) NULL,
	[CUENTA] [int] NULL,
	[NPERSONAS] [int] NULL,
	[CLIENTE] [varchar](150) NULL,
	[ID_OPERACION] [int] NULL,
	[MESANT] [varchar](50) NULL,
	[FECHA] [datetime] NULL,
	[LLEVAR] [char](1) NULL,
	[DELIVERY] [char](1) NULL,
	[ID_CLIENTE] [int] NULL,
	[ID_MOTORIZADO] [int] NULL,
	[VUELTO] [float] NULL,
	[PAGO] [float] NULL,
	[VENTA] [int] NULL,
	[TIPO] [char](1) NULL,
	[ID_O_PAS] [int] NULL,
	[FACTURADO] [int] NULL,
	[TIPO_DOC] [int] NULL,
	[ID_TURNO] [int] NULL,
	[ID_FORMAPAGO] [int] NULL,
	[MONTO_PAGO] [float] NULL,
	[VUELTO_PAGO] [float] NULL,
	[ENUSO] [int] NULL,
	[SERVICIO] [int] NULL,
	[PORCENP] [float] NULL,
	[IMPRESIONTABLET] [int] NULL,
	[OBSERVACION] [varchar](800) NULL,
	[REFERENCIA] [varchar](800) NULL,
	[IDMESA] [int] NULL,
	[IdConcepto] [int] NULL,
	[placa] [varchar](50) NULL,
	[Ruta] [varchar](250) NULL,
 CONSTRAINT [PK_TBL_MESA] PRIMARY KEY CLUSTERED 
(
	[ID_MESA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_KARDEX]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_KARDEX](
	[ID_KARDEX] [int] IDENTITY(1,1) NOT NULL,
	[ID_MOV] [int] NULL,
	[ID_PRODUCTO] [int] NULL,
	[ID_ALMACEN] [int] NULL,
	[ID_MOVIMIENTO] [int] NULL,
	[FECHA_KAR] [datetime] NULL,
	[STOCKINI] [float] NULL,
	[CANT_ING] [float] NULL,
	[CANT_EGR] [float] NULL,
	[STOCK_ACTUAL] [float] NULL,
	[PRISAL] [numeric](9, 0) NULL,
	[ID_USUPVENTA] [int] NULL,
	[FECHADOC] [datetime] NULL,
	[MODFAR] [varchar](50) NULL,
	[ID_PRODUCTO_SOLO] [int] NULL,
	[ID_UNIDAD_INGRESO] [int] NULL,
	[ID_UNIDAD_SALIDA] [int] NULL,
	[ID_PRESENTACION] [int] NULL,
	[ESTADO] [int] NULL,
 CONSTRAINT [PK_TBL_KARDEX] PRIMARY KEY CLUSTERED 
(
	[ID_KARDEX] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_INVENTARIO_DETALLE]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_INVENTARIO_DETALLE](
	[ID_INV_DETALLE] [int] NOT NULL,
	[ID_INVENTARIO] [int] NULL,
	[ID_PRODUCTO] [int] NULL,
	[STOCK_ALMACEN] [int] NULL,
	[PRECIO] [float] NULL,
	[STOCK_FISICO] [float] NULL,
	[ID_PRESENTACION] [int] NULL,
	[ID_ALMACEN] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_INVENTARIO]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_INVENTARIO](
	[ID_INVENTARIO] [int] NOT NULL,
	[DESCRIPCION] [varchar](400) NULL,
	[ID_ALMACEN] [int] NULL,
	[FECHA] [datetime] NULL,
	[ESTADO] [varchar](1) NULL,
	[ID_USUPVENTA] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_IMPRESORA_I]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_IMPRESORA_I](
	[ID_IMPRESORA] [int] NULL,
	[IMPRESORA] [varchar](100) NULL,
	[RUTA] [varchar](500) NULL,
	[precuenta] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_IMPRESORA]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_IMPRESORA](
	[ID_IMPRESORA] [int] NULL,
	[ID_ZONA] [int] NULL,
	[IMPRESORA] [varchar](300) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_GRUPO_INSUMO]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_GRUPO_INSUMO](
	[ID_GRUPOI] [int] NOT NULL,
	[GRUPO_INSUMO] [varchar](150) NULL,
	[ABREV] [varchar](50) NULL,
	[ESTADO] [int] NULL,
	[FIJO] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_GRUPO]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_GRUPO](
	[ID_GRUPO] [int] NOT NULL,
	[GRUPO] [varchar](50) NULL,
	[ABREV] [varchar](30) NULL,
	[ESTADO] [int] NULL,
	[FECHAPRO] [datetime] NULL,
	[HORAPRO] [datetime] NULL,
	[ID_USUARIO] [int] NULL,
	[TIPO] [int] NULL,
 CONSTRAINT [PK_TBL_GRUPO] PRIMARY KEY CLUSTERED 
(
	[ID_GRUPO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_GASTOS]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_GASTOS](
	[ID_GASTO] [int] NOT NULL,
	[GASTO] [varchar](150) NULL,
	[MONTO] [float] NULL,
	[FECHA] [datetime] NULL,
	[HORA] [datetime] NULL,
 CONSTRAINT [PK_TBL_GASTOS] PRIMARY KEY CLUSTERED 
(
	[ID_GASTO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_FORMA_PAGO]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_FORMA_PAGO](
	[ID_FORMAPAGO] [int] NULL,
	[FORMAPAGO] [varchar](200) NULL,
	[ABREV] [varchar](10) NULL,
	[ESTADO] [int] NULL,
	[FECHAPRO] [datetime] NULL,
	[HORAPRO] [datetime] NULL,
	[ID_USUARIO] [int] NULL,
	[FIJO] [int] NULL,
	[Forzar] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_FACTURA]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_FACTURA](
	[ID_FACTURA] [int] IDENTITY(1,1) NOT NULL,
	[ID_MESA] [int] NULL,
	[ID_TDOCUMENT] [int] NULL,
	[NUM_DOC] [varchar](50) NULL,
	[ID_MONEDA] [int] NULL,
	[MONTOF] [float] NULL,
	[IGVF] [float] NULL,
	[NETOF] [float] NULL,
	[OBSERVACIONES] [varchar](200) NULL,
	[FECHA_REG] [datetime] NULL,
	[ESTADO] [varchar](3) NULL,
	[SERIE] [varchar](10) NULL,
	[IDOC_SE] [varchar](20) NULL,
	[FECHAF] [datetime] NULL,
	[FECHA_VENCIMIENTO] [datetime] NULL,
	[NETO_LETRAS] [varchar](200) NULL,
	[IGV] [int] NULL,
	[ID_PAGO] [int] NULL,
	[ID_TARJETA] [int] NULL,
	[OBSERVACION2] [varchar](200) NULL,
	[ID_USUPVENTA] [int] NULL,
	[FECHA_ANUL] [datetime] NULL,
	[CLIENTE] [varchar](255) NULL,
	[CLIENTE_RUC] [varchar](11) NULL,
	[ID_BANCO] [int] NULL,
	[TIPO_CAMBIO] [float] NULL,
	[FLAG_IGV] [float] NULL,
	[MONTO_PENDIENTE] [float] NULL,
	[FLAG_MANT] [int] NULL,
	[ID_PERSONAL] [int] NULL,
	[DIASCREDIT] [int] NULL,
	[PorcenDesc] [float] NULL,
	[ImportDesc] [float] NULL,
	[TotalS] [float] NULL,
	[ID_USER] [int] NULL,
	[ID_CLIENTE] [int] NULL,
	[MONTO_CREDITO] [float] NULL,
	[FECHA_CANCELAR] [datetime] NULL,
	[ID_CAJA] [int] NULL,
	[ID_ANULACION] [int] NULL,
	[NUMEROGUIA] [varchar](100) NULL,
	[NroPedido] [int] NULL,
	[CLIENTEREF] [varchar](150) NULL,
	[TIPO] [int] NULL,
	[DESCUENTO] [float] NULL,
	[DocumentoEnviado] [int] NULL,
	[EstaDocumentoSunat] [int] NULL,
	[CodigoModenaSunat] [varchar](50) NULL,
	[MensajeSunat] [varchar](250) NULL,
	[HastCpe] [varchar](250) NULL,
	[Hashcdr] [varchar](250) NULL,
	[IdConcepto] [int] NULL,
	[DocumentoReferencia] [varchar](250) NULL,
	[IdFacturaAnulada] [int] NULL,
	[IdTipoDocumentoReferencia] [int] NULL,
	[CodigoSunatRespuesta] [varchar](350) NULL,
	[WEB] [varchar](350) NULL,
	[FechaHoraSistema] [datetime] NULL,
	[inafecto] [float] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_EMPRESA]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_EMPRESA](
	[ID_EMPRESA] [int] NULL,
	[RUC] [varchar](11) NULL,
	[DIRECCION] [varchar](250) NULL,
	[TELEFONO1] [varchar](20) NULL,
	[TELEFONO2] [varchar](20) NULL,
	[ADMIN] [int] NULL,
	[VENTAS] [int] NULL,
	[CAJA] [int] NULL,
	[RAZON_SOCIAL] [varchar](250) NULL,
	[RAZON_COMERCIAL] [varchar](250) NULL,
	[DESDEPV] [int] NULL,
	[HASTAPV] [int] NULL,
	[DESDELL] [int] NULL,
	[HASTALL] [int] NULL,
	[DESDED] [int] NULL,
	[HASTAD] [int] NULL,
	[CLAVEADMIN] [varchar](150) NULL,
	[ASIGMOZO] [int] NULL,
	[MESAAUTO] [int] NULL,
	[MONTOPEND] [int] NULL,
	[MONTOTOTALM] [int] NULL,
	[MONTOTOTALC] [int] NULL,
	[SELECCLIENTE] [int] NULL,
	[CLAVEANULARP] [int] NULL,
	[MODIFICARPRECIO] [int] NULL,
	[ELIMINARPCOMANDA] [int] NULL,
	[IMPRIMIROPERADORCOMANDA] [int] NULL,
	[NPERSONASMESA] [int] NULL,
	[CAJADESDEV] [int] NULL,
	[ANULARCUENTAV] [int] NULL,
	[FORMFACT] [int] NULL,
	[FORMFORMAPAGO] [int] NULL,
	[MOSTRARDESC] [int] NULL,
	[MOSTRARV] [int] NULL,
	[MOSTRARC] [int] NULL,
	[LIQUIDACIONCAJA] [int] NULL,
	[LIQUIDACIONVEN] [int] NULL,
	[ACTIVAMODULOCAJACHICA] [int] NULL,
	[SOLICITARPREVIO] [int] NULL,
	[ACTIVAR_LLEVAR] [int] NULL,
	[ACTIVAR_DELIVERY] [int] NULL,
	[ACTIVAR_ELIMPROYCUENDESDECAJA] [int] NULL,
	[MOSTRAR_FORMFACTURA] [int] NULL,
	[MOSTRAR_FORMAPAGO] [int] NULL,
	[TOUCH] [int] NULL,
	[HORAS] [int] NULL,
	[TOTALMINUTO] [float] NULL,
	[ALMACEN] [int] NULL,
	[IGV] [float] NULL,
	[TOTALMESAS] [int] NULL,
	[PRODUCTORECETA] [int] NULL,
	[ID_SUCURSAL] [int] NULL,
	[RUTA] [varchar](150) NULL,
	[FACT] [int] NULL,
	[TKFACT] [int] NULL,
	[NUMFACT] [int] NULL,
	[BOL] [int] NULL,
	[TKBOL] [int] NULL,
	[NUMBOL] [int] NULL,
	[NUMCOPIAS] [char](10) NULL,
	[asignarcliente] [int] NULL,
	[DOCPREDETERMINADO] [int] NULL,
	[CONTROL_STOCK] [int] NULL,
	[MENSAJE_STOCK] [int] NULL,
	[MOSTRAR_STOCK_V] [int] NULL,
	[MOSTRAR_STOCK_C] [int] NULL,
	[C_IMPRIMIRPREVIO] [int] NULL,
	[GRUPO] [int] NULL,
	[OBSERVACION] [int] NULL,
	[NOMBRE] [varchar](450) NULL,
	[IMPRIMIRALCANCELAR] [int] NULL,
	[ACTIVOPRECIO] [int] NULL,
	[MOSTRARCERO] [int] NULL,
	[TOUCHCAJA] [int] NOT NULL,
	[MODELO] [int] NULL,
	[GASTOS] [float] NULL,
	[MANO] [float] NULL,
	[servicio] [float] NULL,
	[RIGV] [int] NULL,
	[servicionum] [int] NULL,
	[servicioc] [int] NULL,
	[facturarprimero] [int] NULL,
	[ordencomanda] [int] NULL,
	[reimpresionc] [int] NULL,
	[costo_insumosp] [float] NULL,
	[Correo] [varchar](450) NULL,
	[Nro_Autorizacion] [varchar](50) NULL,
	[Descripcion] [varchar](450) NULL,
	[FechaInstalación] [datetime] NULL,
	[TipoContrato] [int] NULL,
	[FechaContrato] [datetime] NULL,
	[FechaFinContrato] [datetime] NULL,
	[MesesGarantía] [int] NULL,
	[CantidadCuotas] [int] NULL,
	[DíaPago] [int] NULL,
	[CuotasPagadas] [int] NULL,
	[FechaBloqueo] [datetime] NULL,
	[MostrarNotificaciones] [int] NULL,
	[Ubigeo] [varchar](50) NULL,
	[Departamento] [varchar](50) NULL,
	[Provincia] [varchar](50) NULL,
	[Distrito] [varchar](50) NULL,
	[CodigoPais] [varchar](50) NULL,
	[Usuario] [varchar](50) NULL,
	[ClaveSol] [varchar](50) NULL,
	[TipoProceso] [int] NULL,
	[WEB] [varchar](350) NULL,
	[PorcentajeServicio] [int] NULL,
	[ImprimirCancelar] [int] NULL,
	[EnviarOnline] [int] NULL,
	[FormatoComanda] [int] NULL,
	[OrdenBusqueda] [int] NULL,
	[Tipocomanda] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_ELIMINACION_CARGO]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_ELIMINACION_CARGO](
	[ID_ELIMACION] [int] IDENTITY(1,1) NOT NULL,
	[TIPO] [char](2) NULL,
	[ID_CARGO] [int] NULL,
	[CARGO] [varchar](150) NULL,
	[ELIMINA] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_ELABORACION_INSUMO]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_ELABORACION_INSUMO](
	[ID_ELABORACION] [int] NOT NULL,
	[DESCRIPCION] [varchar](150) NULL,
	[FECHA] [datetime] NULL,
	[ESTADO] [varchar](1) NULL,
	[ID_ALMACEN] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_ELABORACION_DETALLE]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_ELABORACION_DETALLE](
	[ID_DETALLE_ELABORACION] [int] NULL,
	[ID_DETALLE] [int] NULL,
	[ID_PRODUCTO] [int] NULL,
	[UNIDAD] [varchar](50) NULL,
	[CANTIDAD] [float] NULL,
	[RENDIMIENTO] [float] NULL,
	[COSTO] [float] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_DETALLE_TRANSFORMACION]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_DETALLE_TRANSFORMACION](
	[ID_DETALLE_TRANS] [int] NULL,
	[ID_TRANSFORMACION] [int] NULL,
	[ID_INSUMO] [int] NULL,
	[CANTIDAD] [int] NULL,
	[PESOXPOR] [float] NULL,
	[ID_UNIDAD_USO] [int] NULL,
	[TOTAL] [float] NULL,
	[COSTOU] [float] NULL,
	[TOTAU] [float] NULL,
	[ID_ALMACEN] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_DETALLE_RECETA]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_DETALLE_RECETA](
	[ID_RECETA] [int] NULL,
	[ID_DETALLE_RECETA] [int] NULL,
	[ID_PRODUCTO] [int] NULL,
	[CANTIDAD] [float] NULL,
	[RECETABASE] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_DETALLE_MOVIMIENTO]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_DETALLE_MOVIMIENTO](
	[ID_MOV] [int] NOT NULL,
	[ID_DETALLE] [int] NOT NULL,
	[ID_PRODUCTO] [int] NULL,
	[CANTIDAD] [float] NULL,
	[PRISAL] [float] NULL,
	[TOTALPRO] [float] NULL,
	[IGVPRO] [float] NULL,
	[ID_USUPVENTA] [int] NULL,
	[ID_MOVIMIENTO] [int] NULL,
	[ID_SUCURSAL] [int] NULL,
	[ID_EMPRESA] [int] NULL,
	[ID_COMPRA] [int] NULL,
	[ID_PRODUCTO_SOLO] [int] NULL,
	[ID_COMANDA] [int] NULL,
	[DETALLEC] [int] NULL,
	[SUBINSUMO] [int] NULL,
	[ID_PRESENTACION] [int] NULL,
	[CANTIDAD2] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_DETALLE_FACTURA]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_DETALLE_FACTURA](
	[ID_FACTD] [bigint] NOT NULL,
	[ID_FACTURA] [int] NULL,
	[SEC_COM] [int] NULL,
	[ID_PRODUCTO] [int] NULL,
	[CANTIDAD] [float] NULL,
	[PRECIO_UNICO] [float] NULL,
	[TOTALC] [float] NULL,
	[PRECCG] [float] NULL,
	[ESTADO] [varchar](3) NULL,
	[ID_USUPVENTA] [int] NULL,
	[FECHAREG] [datetime] NULL,
	[OBSERVACION] [varchar](255) NULL,
	[CANT_FLAG] [int] NULL,
	[ID_MOV] [int] NULL,
	[TOTAL] [float] NULL,
	[MONTODESC] [float] NULL,
	[PORCENTDESC] [float] NULL,
	[UNIDAD] [varchar](50) NULL,
	[FACTOR] [float] NULL,
	[PRODUCTO] [varchar](150) NULL,
	[ID_COMANDA] [int] NULL,
	[ID_DCOMANDA] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_DETALLE_COTIZACION]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_DETALLE_COTIZACION](
	[ID_DETALLE] [int] NULL,
	[ID_COT] [int] NULL,
	[ID_RECETA] [int] NULL,
	[CANTIDAD] [int] NULL,
	[PRECIO] [float] NULL,
	[TOTAL] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_DETALLE_COMPRA]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_DETALLE_COMPRA](
	[ID_COMPRA] [int] NULL,
	[ID_DETALLE] [int] NULL,
	[ID_PRODUCTO] [int] NULL,
	[CANTIDAD] [float] NULL,
	[PRECIO_UNICO] [float] NULL,
	[ESTADO] [int] NULL,
	[ID_USUPVENTA] [int] NULL,
	[FECHAREG] [datetime] NULL,
	[TOTAL] [float] NULL,
	[ID_ALMACEN] [int] NULL,
	[CANTIDAD2] [float] NULL,
	[PRECIO_UNICO2] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_DETALLE_COMANDA]    Script Date: 11/14/2025 11:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_DETALLE_COMANDA](
	[ID_DCOMANDA] [int] NULL,
	[ID_COMANDA] [int] NULL,
	[ID_PRODUCTO] [int] NULL,
	[CANTIDAD] [int] NULL,
	[PUNIT] [float] NULL,
	[TOTAL] [float] NULL,
	[OBSERVACION] [varchar](150) NULL,
	[COMBO] [int] NULL,
	[CAMBIO] [char](1) NULL,
	[ID_PRODUCOMBO] [int] NULL,
	[ID_ANULADO] [int] NULL,
	[DETALLE] [int] NULL,
	[CANTIDADCOMBO] [int] NULL,
	[SEL] [int] NULL,
	[ATENDIDO] [int] NULL,
	[HORAA] [datetime] NULL,
	[fechaanula] [smalldatetime] NULL,
	[EstadoRecojo] [int] NULL,
	[FechaRecojo] [smalldatetime] NULL,
	[IdDetalleComanda] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleComanda] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [Cli]    Script Date: 11/14/2025 11:57:47 ******/
ALTER TABLE [dbo].[TBL_CLIENTE] ADD  CONSTRAINT [Cli]  DEFAULT (N'150101') FOR [Ubigeo]
GO
/****** Object:  Default [Pais]    Script Date: 11/14/2025 11:57:47 ******/
ALTER TABLE [dbo].[TBL_CLIENTE] ADD  CONSTRAINT [Pais]  DEFAULT (N'PE') FOR [Pais]
GO
/****** Object:  Default [Ciudad]    Script Date: 11/14/2025 11:57:47 ******/
ALTER TABLE [dbo].[TBL_CLIENTE] ADD  CONSTRAINT [Ciudad]  DEFAULT (N'LIMA') FOR [Ciudad]
GO
/****** Object:  Default [DF_TBL_DETALLE_COMANDA_EstadoRecojo]    Script Date: 11/14/2025 11:57:47 ******/
ALTER TABLE [dbo].[TBL_DETALLE_COMANDA] ADD  CONSTRAINT [DF_TBL_DETALLE_COMANDA_EstadoRecojo]  DEFAULT ((0)) FOR [EstadoRecojo]
GO
/****** Object:  Default [DF_TBL_DETALLE_MOVIMIENTO_CANTIDAD2]    Script Date: 11/14/2025 11:57:47 ******/
ALTER TABLE [dbo].[TBL_DETALLE_MOVIMIENTO] ADD  CONSTRAINT [DF_TBL_DETALLE_MOVIMIENTO_CANTIDAD2]  DEFAULT ((0)) FOR [CANTIDAD2]
GO
/****** Object:  Default [DF_TBL_EMPRESA_TOUCHCAJA]    Script Date: 11/14/2025 11:57:47 ******/
ALTER TABLE [dbo].[TBL_EMPRESA] ADD  CONSTRAINT [DF_TBL_EMPRESA_TOUCHCAJA]  DEFAULT ((0)) FOR [TOUCHCAJA]
GO
/****** Object:  Default [DF_TBL_EMPRESA_servicio]    Script Date: 11/14/2025 11:57:47 ******/
ALTER TABLE [dbo].[TBL_EMPRESA] ADD  CONSTRAINT [DF_TBL_EMPRESA_servicio]  DEFAULT ((0)) FOR [servicio]
GO
/****** Object:  Default [DF_TBL_EMPRESA_reimprimirc]    Script Date: 11/14/2025 11:57:47 ******/
ALTER TABLE [dbo].[TBL_EMPRESA] ADD  CONSTRAINT [DF_TBL_EMPRESA_reimprimirc]  DEFAULT ((1)) FOR [reimpresionc]
GO
/****** Object:  Default [Moneda]    Script Date: 11/14/2025 11:57:47 ******/
ALTER TABLE [dbo].[TBL_FACTURA] ADD  CONSTRAINT [Moneda]  DEFAULT (N'PEN') FOR [CodigoModenaSunat]
GO
/****** Object:  Default [DF__TBL_FACTU__Fecha__17C286CF]    Script Date: 11/14/2025 11:57:47 ******/
ALTER TABLE [dbo].[TBL_FACTURA] ADD  DEFAULT (getdate()) FOR [FechaHoraSistema]
GO
/****** Object:  Default [DF_TBL_MESA_SERVICIO]    Script Date: 11/14/2025 11:57:47 ******/
ALTER TABLE [dbo].[TBL_MESA] ADD  CONSTRAINT [DF_TBL_MESA_SERVICIO]  DEFAULT ((0)) FOR [SERVICIO]
GO
/****** Object:  Default [DF_TBL_OPERACION_DETALLE_CODOT]    Script Date: 11/14/2025 11:57:47 ******/
ALTER TABLE [dbo].[TBL_OPERACION_DETALLE] ADD  CONSTRAINT [DF_TBL_OPERACION_DETALLE_CODOT]  DEFAULT ((0)) FOR [CODOT]
GO
/****** Object:  Default [unidad]    Script Date: 11/14/2025 11:57:47 ******/
ALTER TABLE [dbo].[TBL_PRODUCTO] ADD  CONSTRAINT [unidad]  DEFAULT ((15)) FOR [ID_UNIDAD_VENTA]
GO
/****** Object:  Default [DF_TBL_PRODUCTO_NOMOSTRAR]    Script Date: 11/14/2025 11:57:47 ******/
ALTER TABLE [dbo].[TBL_PRODUCTO] ADD  CONSTRAINT [DF_TBL_PRODUCTO_NOMOSTRAR]  DEFAULT ((0)) FOR [NOMOSTRAR]
GO
/****** Object:  Default [DF_TBL_PRODUCTO_TIPO_INSUMO]    Script Date: 11/14/2025 11:57:47 ******/
ALTER TABLE [dbo].[TBL_PRODUCTO] ADD  CONSTRAINT [DF_TBL_PRODUCTO_TIPO_INSUMO]  DEFAULT ((0)) FOR [TIPO_INSUMO]
GO
/****** Object:  Default [DF_TBL_PRODUCTO_CARTA]    Script Date: 11/14/2025 11:57:47 ******/
ALTER TABLE [dbo].[TBL_PRODUCTO] ADD  CONSTRAINT [DF_TBL_PRODUCTO_CARTA]  DEFAULT ((1)) FOR [CARTA]
GO
/****** Object:  Default [CodigoS]    Script Date: 11/14/2025 11:57:47 ******/
ALTER TABLE [dbo].[TBL_PRODUCTO] ADD  CONSTRAINT [CodigoS]  DEFAULT (N'01') FOR [CodigoIGVSunat]
GO
/****** Object:  Default [CodigoSunat]    Script Date: 11/14/2025 11:57:47 ******/
ALTER TABLE [dbo].[TBL_UNIDAD] ADD  CONSTRAINT [CodigoSunat]  DEFAULT (N'NIU') FOR [CodigoSunat]
GO
/****** Object:  ForeignKey [FK_TBL_DETALLE_COMANDA_TBL_PRODUCTO]    Script Date: 11/14/2025 11:57:47 ******/
ALTER TABLE [dbo].[TBL_DETALLE_COMANDA]  WITH NOCHECK ADD  CONSTRAINT [FK_TBL_DETALLE_COMANDA_TBL_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[TBL_PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[TBL_DETALLE_COMANDA] CHECK CONSTRAINT [FK_TBL_DETALLE_COMANDA_TBL_PRODUCTO]
GO
