---
import type { HTMLAttributes } from 'astro/types'

export interface Props extends HTMLAttributes<'label'> {
  for?: string
}

const { class: className, ...props } = Astro.props
---

<label
  class:list={[
    'text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70',
    className,
  ]}
  {...props}
>
  <slot />
</label>
