---
// import ArrowLeftIcon from '@/components/icons/ArrowLeft.astro'
import OrderForm from '@/components/order/OrderForm.tsx'
---

<div class="pt-28">
  <div>
    <h2 class="text-4xl font-bold text-balance md:leading-[1.16]">Completa tu pedido</h2>
  </div>

  <OrderForm />
</div>
