---
import OrderMenu from '@/components/order/OrderMenu.astro'
import OrderCartList from './order/OrderCartList.tsx'
import OrderCard from '@/components/OrderCard.astro'
---

<section class="pt-10">
  <div class="grid grid-cols-1 lg:grid-cols-[auto_450px]">
    <div>
      <OrderMenu />
    </div>

    <div class="hidden md:block">
      <OrderCard title="Productos seleccionados">
        <OrderCartList client:load />
      </OrderCard>

      <OrderCard title="Resumen de pago">
        <div class="my-2 flex flex-col justify-center gap-x-4">
          <span>Subtotal: 183</span>
          <span>Propina: 1.50</span>
        </div>
      </OrderCard>

      <div
        class="px-2 py-1.5 flex items-center justify-between rounded-md shadow-sm border border-gray-200/40"
      >
        <span class="font-semibold"> Total: </span>
        <span id="order-total-price" class="font-bold text-lg"> 300 </span>
      </div>
    </div>
  </div>
</section>

<script>
  import { cartItems } from '@/stores/order'

  const orderTotalPrice = document.getElementById('order-total-price')
  if (orderTotalPrice) {
    cartItems.listen(items => {
      const products = Object.values(items)
      const total = products.reduce((total, product) => total + product.price * product.quantity, 0)

      orderTotalPrice.innerHTML = `${total}`
    })
  }
</script>
