---
import OrderCartList from './order/OrderCartList.tsx'
import OrderCard from '@/components/OrderCard.astro'
import TrashIcon from '@/components/icons/Trash.astro'
import Order from './order/Order.tsx'
import CategoryFilters from './order/CategoryFilters.tsx'
---

<section class="w-full">
  <div class="grid grid-cols-1 gap-4 lg:grid-cols-[auto_450px]">
    <div class="pt-4">
      <div><Order client:load /></div>
    </div>

    <div class="hidden md:block">
      <OrderCard title="Productos seleccionados">
        <OrderCartList client:load />

        <div class="my-2 flex flex-col justify-center gap-x-4">
          <h3 class="text-lg font-semibold">Resumen de pago</h3>
          <p>Subtotal: <span id="order-subtotal-price"></span></p>
          <p>Delivery: 5</p>
        </div>

        <div class="py-1.5">
          <p class="font-bold text-lg">
            Total:
            <span id="order-total-price" class="font-semibold text-right"></span>
          </p>
        </div>

        <div class="my-4 space-y-2">
          <button
            id="order-btn"
            class="px-2 py-1 bg-primary text-white rounded-md w-full font-medium cursor-pointer"
          >
            Realizar mi pedido
          </button>
          <button
            id="empty-cart-btn"
            class="flex items-center justify-center px-2 py-1 border-2 border-gray-300 rounded-md w-full font-medium cursor-pointer"
          >
            <TrashIcon className="w-8" />
            Vacíar carrito
          </button>
        </div>
      </OrderCard>
    </div>
  </div>
</section>

<script>
  import { cartItems } from '@/stores/order'

  const orderSubtotalPrice = document.getElementById('order-subtotal-price')
  const orderTotalPrice = document.getElementById('order-total-price')

  if (orderTotalPrice && orderSubtotalPrice) {
    cartItems.listen(items => {
      const products = Object.values(items)
      const total = products.reduce((total, product) => total + product.price * product.quantity, 0)

      orderSubtotalPrice.innerHTML = `${total}`
      orderTotalPrice.innerHTML = `${total + 5}`
    })
  }

  const emptyCart = document.getElementById('empty-cart-btn')
  if (emptyCart) {
    emptyCart.addEventListener('click', () => cartItems.set({}))
  }

  const orderBtn = document.getElementById('order-btn')
  if (orderBtn) {
    orderBtn.addEventListener('click', () => (document.location.href = '/completa-orden'))
  }
</script>
