---
export interface Props {
  title: string
}

const { title } = Astro.props
---

<div class="sticky top-28 rounded-xl border border-gray-100 bg-white shadow-lg overflow-hidden my-4">
  <div class="px-5 py-4">
    <h3 class="text-xl font-bold text-heading tracking-tight">{title}</h3>
  </div>

  <div class="px-4 pb-4">
    <slot />
  </div>
</div>
