---
import OrderSummary from '@/components/order/OrderSummary.tsx'
import MapPicker from './MapPicker.astro'
import Label from './ui/Label.astro'
import Input from './ui/Input.astro'
---

<div class="pt-28">
  <div>
    <h2 class="text-4xl font-bold text-balance md:leading-[1.16]">Completa tu pedido</h2>
  </div>

  <OrderSummary client:load />

  <div class="mt-3">
    <h2 class="text-2xl font-bold text-black tracking-tighter mb-3">Resumen de pago</h2>

    <div class="grid gap-4 sm:grid-cols-2">
      <div class="space-y-2">
        <Label for="name" class="flex items-center gap-2"> Nombre Completo </Label>
        <Input id="name" name="name" placeholder="Don Emiliano" required />
      </div>
      <div class="space-y-2">
        <Label for="name" class="flex items-center gap-2"> Número de Celular </Label>
        <Input id="name" name="name" placeholder="+51 999 999 999" required />
      </div>

      <a id="location" class="text-sm text-gray-600">Menu</a>
      <MapPicker />
    </div>
  </div>
</div>

<script>
  import { location } from '@/stores/location'

  const locationDiv = document.getElementById('location') as HTMLAnchorElement
  location.listen(value => {
    if (locationDiv && value && value.lat && value.lng) {
      locationDiv.href = `https://www.google.com/maps?q=${value.lat},${value.lng}&hl=es`
      locationDiv.target = '_blank'
    }
  })
</script>
