---
import Layout from '@/layouts/Layout.astro'
import Menu from '@/components/Menu.astro'
import OrderMenu from '@/components/order/OrderMenu.astro'
import AddressLocation from '@/components/AddressLocation.astro'
import MapPicker from '@/components/MapPicker.astro'
---

<Layout>
  <main class="min-h-screen mx-4">
    <Menu />
    <!-- <OrderMenu /> -->
    <!-- <MapPicker /> -->
    <!-- <AddressLocation /> -->
  </main>
</Layout>
